.proj-container {
  height: 100vh;
}

img {
  display: inline-block;
  position: relative;
  top: 0px;
  height: 40%;
  width: 40%;
}
.img-two {
  display: inline-block;
  position: relative;
  top: 0px;
  height: 20%;
  width: 40%;
}
 h4, p {
  font-size: 18px;;
 }