.grid {
position:absolute;
  display: grid;
  grid-template-rows: 120px 120px 120px;
  grid-template-columns: 120px 120px 120px;
   width: 360px;
   height: 360px;
   top: auto;
   left: auto;
 
}



.cell {
 
  align-items: center;
  justify-content: center;
  height: 360px;
  width: 360px;
  margin: 10px;
}